<!DOCTYPE html>
<html>
<head>
  <title>Access</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%=root_path%>">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <% unless admin_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Iniciar sesión", admin_session_path %></li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('menus.session.options') %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Cerrar sesión", destroy_admin_session_path, :method => :delete %></li>
            </ul>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= render partial: "shared/flash_messages", flash: flash %>
    <%= yield %>
  </div>

</body>
</html>
